*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Noticia Text', serif;
}

.main{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: black;
    overflow:hidden;
    background-image: url("IMAGES/NEWS2.jpg");
    background-size: cover;
}
nav{
    position: relative;
    width: 74.3%;
    height: 50px;
    transform: rotate(6deg);
    left: 205px;
    top: 100px;
    overflow: hidden;
    display: flex;
}
.logo{
    position: absolute;
    width: 50px;
}
.navterm{
    margin-left:100px ;
    position: relative;
    top: 20px;
    cursor: pointer;

}
.navterm:hover{
    transform: scale(1.2);
    filter: drop-shadow(2px 5px 1px rgba(77, 77, 77, 0.76));
    transition: .1s;
}
.navbtn{
    position: absolute;
    width: 40px;
    height:40px;
    background-image: url("IMAGES/menu.png");
    background-size: cover;
    background-color: rgba(128, 128, 128, 0);
    opacity: .9;
    border: 0;
    top: 12px;
    left: 15px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(70, 70, 70));
}
.navbtn:hover{
    background-image: url("IMAGES/menuuse.png");
    transition: .1s;
}
.line1{
    position: relative;
    transform: rotate(6deg);
    top: 130px;
    width: 70%;
    left: 220px;
    border-color: rgb(112, 112, 112);
    filter: drop-shadow(2px 2px 2px rgb(70, 70, 70));
}
.main-news{
    position: relative;
    width: 74.3%;
    height: 630px;
    transform: rotate(6deg);
    left: 165px;
    top: 140px;

}
.imgs{
    position: relative;
    background-color: rgb(92, 92, 92);
    left: 30px;
    top: 30px;
    width: 180px;
    height:180px;
    border-radius: 10px;
    margin-top: 20px;
    filter: drop-shadow(2px 2px 5px rgb(41, 41, 41));
    cursor: pointer;
}
.imgs:hover{
    transform: scale(1.2);
    filter: drop-shadow(10px 7px 10px rgb(41, 41, 41));
    transition: .1s;
}
#apj{
    background-image: url("IMAGES/apj.jpg");
    background-size: cover;
}

.apjq{
    position: absolute;
    left: 250px;
    top: 60px;
}

#gandhi{
    background-image: url("IMAGES/gandhi.jpg");
    background-size: cover;
    left: 80%;
}

.gandhiq{
    position: absolute;
    text-align: right;
    left: 300px;
    top: 300px;
}

#nelson{
    background-image: url("IMAGES/NelsonMandela.jpg");
    background-size: cover;
}

.nelsonq{
    position: absolute;
    left: 250px;
    top: 480px;
}

